@model DiabeticMed.Models.MedicPatientRepo.PatientsMEdListviewModel
@foreach (var p in Model.Patients)
{
	<div>
		<h3>@p.Name</h3>
		@p.Age.ToString()
		<h4>@p.Isdiabetic</h4>
	</div>
}
<div page-model="@Model.PagingInfo" page-action="List"></div>


