@{
    ViewData["Title"] = "Home Page";
}

<!--The home section-->
     <section id="home" >
         <video id="home-bg-video" poster="~/video/solo.jpg" autoplay loop muted>
            <source src="~/video/solo.mp4" type="video/mp4">
           <source src="~/video/solo.ogv" type="video/ogg">
        <source src="~/video/solo.webm" type="video/webm">
        </video>
        <!--Overlay-->
        <div id="home-overlay"></div>
        <!--home section-->
        <div id="home-content" >
            <div id="home-content-inner" class="text-center">
                <div id="home-heading">
                    <h1 id="home-heading-1">DiabeticMEd</h1><br>
                    <h1 id="home-heading-2">MachineLearning <span>Analyser</span></h1>
                </div>
                <div id="home-text">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat consecte
                    </p>
                    <div id="home-btn">
                        <a class="btn btn-general btn-home" shref="#about" title="StartNow" role="button">Start Now</a>
                    </div>
                </div>
            </div>
        </div>
        <!--Arrow Down-->
        <a href="#about" id="arrow-down">
            <i class="fa fa-angle-down"></i>
        </a>
     </section>

 <section id="about">
     <!--About part one-->
     <div id="about-01">
     <div class="content-box-lg">
         <div class="container">
             <div class="row">
                 <div class="col-md-6">
                     <div id="about-left">
                         <div class="vertical-heading">
                             <h5>Who we are</h5>
                             <h2>A<strong>Story</strong><br> About Us</h2>
                         </div>
                     </div>
                 </div>
                 <!--Right side div-->
                 <div class="col-md-6">
                     <div id="about-right">
                         <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                             Necessitatibus soluta sed labore molestias pariatur dolor veniam nam, aperiam omnis unde iusto, 
                             quod alias nulla! Quis dicta voluptatibus sed est iste.</p>

                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius inventore doloremque aliquid quam repudiandae obcaecati consequuntur,  
                            [class]="expression"et cum mollitia ad consequatur temporibus tenetur optio explicabo. 
                            Fugit quis ut dolores eveniet?</p>
                     </div>
                 </div>
             </div>
             <div class="row">
                 <div class="col-md-12">
                     <div id="about-bottom">
                         <img src="~/images/about/about-blank.jpg" class="img-responsive" alt="About Us">
                     </div>

                 </div>
                </div>
         </div>
     </div>
    </div>
    <div id="about-02">
        <div class="content-box-md">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="about-item text-center">
                            <i class="fa fa-rocket"></i>
                            <h3>Mission</h3>
                            <hr>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus ab officiis suscipit pariatur, 
                                sequi necessitatibus corporis, optio tenetur illo nisi eligendi, voluptate adipisci id voluptatum alias facilis rem 
                                vitae eveniet.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                            <div class="about-item text-center">
                                    <i class="fa fa-eye"></i>
                                    <h3>Vision</h3>
                                    <hr>
                                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus ab officiis suscipit pariatur, 
                                        sequi necessitatibus corporis, optio tenetur illo nisi eligendi, voluptate adipisci id voluptatum alias facilis rem 
                                        vitae eveniet.</p>
                                </div>
                    </div>
                    <div class="col-md-4">
                        <div class="about-item text-center">
                            <i class="fa fa-pencil"></i>
                            <h3>Passion</h3>
                            <hr>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus ab officiis suscipit pariatur, 
                                sequi necessitatibus corporis, optio tenetur illo nisi eligendi, voluptate adipisci id voluptatum alias facilis rem 
                                vitae eveniet.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End of about 2 section-->
  <section id="team">
      <div class="content-box-lg">
          <div class="container">
              <!--Team members-->
              <div class="col-md-6">
                  <div id="team-left">
                      <div class="vertical-heading">
                          <h5>Who We Are</h5>
                          <h2>Meet <br><strong>Talented</strong>Team</h2>
                      </div>
                      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum, est vero reprehenderit in sapiente dicta quos ipsam
                           repellat doloribus ut aperiam architecto similique eaque rem porro odio sed qui aut.</p>
                  </div>
              </div>
                  <div class="col-md-6">
                    <div id="team-members" class="owl-carousel owl-theme">
                      <div class="team-member">
                          <img src="~/images/team/team-1.jpg" alt="team member" class="img-responsive">
                          <div class="team-member-overlay">
                                <div class="team-member-info text-center">
                              <h6>Josh Cardif</h6>
                              <p>Developer <strong>IoT and Machine Learning</strong></p>
                              <ul class="social-list">
                                  <li <a href="#"<i class="fa fa-facebook"></i></a></li>
                                  <li <a href="#"<i class="fa fa-twitter"></i></a></li>
                                  <li <a href="#"<i class="fa fa-google"></i></a></li>

                              </ul>
                          </div>
                        </div>
                      </div>
                    <div id="team-members">
                            <div class="team-member">
                                <img src="~/images/team/team-1.jpg" alt="team member" class="img-responsive">
                          <div class="team-member-overlay">
                                <div class="team-member-info text-center">
                                    <h6>Edwin Kamau</h6>
                                    <p>Web Developer</p>
                                    <ul class="social-list">
                                        <li <a href="#"<i class="fa fa-facebook"></i></a></li>
                                        <li <a href="#"<i class="fa fa-twitter"></i></a></li>
                                        <li <a href="#"<i class="fa fa-google"></i></a></li>
      
                                    </ul>
                                </div>
                            </div>
                            </div>
                          </div>
                    </div>
                </div>
              </div>
              <div class="col-md-6">Team righ side</div>
          </div>
      </div>
  </section>



















    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
 </section>

