@{
    ViewData["Title"] = "Home Page";
}

<!--The home section-->
     <section id="home" >
         <video id="home-bg-video" poster="~/video/solo.jpg" autoplay loop muted>
            <source src="~/video/solo.mp4" type="video/mp4">
           <source src="~/video/solo.ogv" type="video/ogg">
        <source src="~/video/solo.webm" type="video/webm">
        </video>
        <!--Overlay-->
        <div id="home-overlay"></div>
        <!--home section-->
        <div id="home-content" >
            <div id="home-content-inner" class="text-center">
                <div id="home-heading">
                    <h1 id="home-heading-1">DiabeticMEd</h1><br>
                    <h1 id="home-heading-2">MachineLearning <span>Analyser</span></h1>
                </div>
                <div id="home-text">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat consecte
                    </p>
                    <div id="home-btn">
                        <a class="btn btn-general btn-home" shref="#about" title="StartNow" role="button">Start Now</a>
                    </div>
                </div>
            </div>
        </div>
        <!--Arrow Down-->
        <a href="#about" id="arrow-down">
            <i class="fa fa-angle-down"></i>
        </a>
     </section>

 <section id="about">
     <!--About part one-->
     <div class="content-box-lg">
         <div class="container">
             <div class="row">
                 <div class="col-md-6">
                     <div id="about-left">
                         <div class="vertical-heading">
                             <h5>Who we are</h5>
                             <h2>A<strong>Story</strong><br> About Us</h2>
                         </div>
                     </div>
                 </div>
                 <!--Right side div-->
                 <div class="col-md-6">
                     <div id="about-right">
                         <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                             Necessitatibus soluta sed labore molestias pariatur dolor veniam nam, aperiam omnis unde iusto, 
                             quod alias nulla! Quis dicta voluptatibus sed est iste.</p>

                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius inventore doloremque aliquid quam repudiandae obcaecati consequuntur,  
                            [class]="expression"et cum mollitia ad consequatur temporibus tenetur optio explicabo. 
                            Fugit quis ut dolores eveniet?</p>
                     </div>
                 </div>
             </div>
             <div class="row">
                 <div class="col-md-12">
                     <div id="about-bottom">
                         <img src="~/images/about/about-blank.jpg" class="img-responsive" alt="About Us">
                     </div>

                 </div>
             </div>

          
         </div>
     </div>
 </section>

