@using DiabeticProject.Models.MedicPatientRepo
@model DiabeticProject.Models.MedicPatientRepo.MedicPatient

@{
	ViewBag.Title = "title";
	Layout = "_Layout";
}

<div class="text-center">
	<p>
		<h1>The result for @Model.Name </h1>
		@if (Model.Isdiabetic == true)
		{
			@:Your analysis show that you are diabetic
		}
		else
		{
			@:The analysis show that you are not diabetic
		}
	</p>
</div>
